* {
    font-size: 16px;
}
.center {
  text-align: center;
}

div > button {
  margin: 50px 20px;
}

h3 {
  display: inline;
}

li {
  list-style-position: inside; /* Place markers inside the content */
}

table {
  margin: 0 auto;
}
table th, td {
    padding: 5px 20px;
}
